h1 {
    text-align: center;
  color: red; 
  font-size: 80px;
  font-family: times_new_roman,cursive;
}
body{
  background-image: url(https://savvybookwriters.files.wordpress.com/2013/11/library_pataskala_026.jpg)
}
{
  
  
}
