<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Book Results Page </title>
   <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1>WELCOME TO THE BOOK PRICE RESULTS</h1>
   <h2> <%=@winner%> HAS THE BEST PRICE FOR YOUR BOOK
   </h2> 
 </body>
</html>