h1 {
  color: saddlebrown;
  text-align: center;
  font-family:'Lobster Two', cursive;
  font-size: 60px
}
body{
  background-image: url(http://p1.pichost.me/i/56/1795887.jpg)
}
h2{
  text-align: center;
  color: saddlebrown;
}
h3{
  text-align: center;
  color: saddlebrown;
}