h1 {
    text-align: center;
  color: black; 
  font-size: 80px;
  font-family: times_new_roman,cursive;
}
body{
  background-image: url(http://p1.pichost.me/i/56/1795887.jpg)
}
p{
  font-size: 25px;
  width: 160px;
  padding: 10px;
  border: 5px black;
  margin: 0;
  background-color: white;
  text-align: center;
  
}